body {
    padding-top: 5rem;
    background-color: #ccebff; 
}
.flex{
  display: flex;
  flex-direction: column;
}
.pros{
  display: flex;
  border-radius: 5px;
  border: 5px solid white;
  background-color: white;
  border-top-color:#1aa3ff;
  padding: 20px;
  flex-direction: row;
  width: 900px;
  height: 200px;
}
.pro{
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.inputs{
  width: 80%;
  padding: 12px 20px 12px;
  margin: 0px 0px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#bio{
  width: 80%;
  height: 200px;
  padding: 0px 20px 12px;
  margin: 0px 0px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.content{
  border-radius: 5px;
  border: 5px solid white;
  background-color: white;
  border-top-color:#1aa3ff;
  padding: 20px;
}
h1{
	font-size: 4em;
	padding: 30px 0px;
}
.labels{
	width: 100%;
	font-size: 30px;
	padding: 0px;
}
.but{
  border-radius: 5px;
  background-color: #00e600;
  border: none;
  color: white;
  padding: 6px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 40px 0px;
  cursor: pointer;
  font-weight: bold;
  width: 250px;
}

.image{
	width: 300px;
	height: 300px;
	align="left"
}
.fol{
	background-color: blue;
  margin-left: 30px
}
ul{
	width: 720px;
  padding-left:40px;
  margin-right: 0px;


}
li{
	display: flex;
	color: grey;
	padding-left: 6px;
  padding-bottom: 10px;
}
.icon{
	height: 20px;
	width: 20px;
}
.name{
  font-size: 20px;
  margin: 6px 0px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  padding-left: 0px;
}

.pad{
	padding-left: 13px;
}
.prof{
  width: 600px;
  align-self: center;
}