{% extends "base.html"%}

{% block main %} 

<body>
	<h1>Add Profile</h1>
	<div class = "content">
		<form method="POST" action="/profile" enctype="multipart/form-data">
 			{{ form.csrf_token }}
 			<div>
 				{{ form.firstname.label (class = "labels") }}
 				{{ form.firstname (class = "inputs") }}
 			</div>
 			<div>
 				{{ form.lastname.label (class = "labels") }}
 				{{ form.lastname (class = "inputs") }}
 			</div>
 			<div>
 				{{ form.gender.label (class = "labels") }}
 				{{ form.gender (class = "inputs", placeholder = "Select Gender") }}
 			</div>
 			<div>
 				{{ form.email.label (class = "labels") }}
 				{{ form.email (class = "inputs", placeholder = "e.g. jdoe@example.com") }}
 			</div>
 			<div>
 				{{ form.location.label (class = "labels") }}
 				{{ form.location (class = "inputs", placeholder = "e.g. Kingston, Jamaica") }}
 			</div>
 			<div>
 				{{ form.bio.label (class = "labels") }}
 				{{ form.bio (id = "bio") }}
 			</div>
 			<div>
	    		{{ form.file.label (class = "labels") }}
	    		{{ form.file(class="pic_but") }}
			</div>
 			<button type="submit" class="but">Add Profile</button>
		</form>
	</div>
</body>
</html>

{% endblock %}.