  
{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}
<h1>Profiles</h1>
<div class='flex'> 
{% for user in users: %}
    <div class='pros'>
            <img src = "{{url_for('static', filename = 'uploads/' + user.8)}}" alt = "{{user.8}}" class= "image">
        

    		  <ul style="list-style-type:none;">
    			 <li class="name">
    				{{user.1}} {{user.2}}
    			 </li>
    			 <li>
    				<img src="https://cdn3.iconfinder.com/data/icons/iconoid-ui-essentials/32/ui_user_account_person_username-512.png" class = "icon">
                    <div class="pad">{{user.3}}</div>
    			 </li>
    			 <li>
    				<img src="https://image.flaticon.com/icons/svg/67/67347.svg" class="icon">
                    <div class="pad">{{user.5}}</div>
    			 </li>
    		  </ul>
    	<form action="/profile/{{user.0}}">
    		<input class="but" type="submit" value="View Profile" />
		</form>
    </div>
    <br>
{% endfor%}
</div>
{% endblock %}